/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32494a;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}


.main-nav-link.active{
  color:#9a9162 ;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #9a9162;
}


.social_media a{
  text-decoration: none;
  color: #333;
}
.social_media i{
  font-size: 3rem;
  margin: 0 0.5rem;
}



/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(50 73 74 ,0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: #32494a;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero .heading-primary{
  font-size: 2.6rem;
  color: #fff;
  line-height: 1.7;
  text-align: right;
}



.hero-img {
  width: 100%;
}



/* Swiper Navigation */
.swiper-button-next:after , 
.swiper-button-prev:after{
  font-family: FontAwesome;
  background-color: #f0be7b;
  color: #fff;
  border-radius: 50%;
  font-size: 3rem;
  padding: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


@media(max-width:768px){
  .swiper-button-next:after , 
.swiper-button-prev:after{
  display: none;
}
}
.swiper-button-prev:after{
  content: "\f061" !important;
}
.swiper-button-next:after {
  content: "\f060" !important;
}



/*************************************/
/********** Features Section *********/
/*************************************/
.section-features{
  margin: 4.6rem;
}


.section-features .heading-primary{
  margin-bottom: 4.2rem;
}


.section-features .features{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}


@media(max-width:44rem){
  .section-features .features{
    grid-template-columns: 1fr ;
  }
  
}

.section-features .features .feature__box{
  display: flex;
  gap: 5rem;
}

.section-features .features .feature__box .feature__image{

}


.section-features .features .feature__box .feature__image img{
  max-width: 8rem;
}

.section-features .features .feature__box .feature__content h3{
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-features .features .feature__box .feature__content li{
  font-size: 1.6rem;
}


/***************************/ 
/******  Guarantee  ********/
/***************************/
.section-guarantee{
  margin: 9.6rem 0;
}

.section-guarantee .img-box{}
.section-guarantee .img-box img{
  max-width: 40rem;
}

.section-guarantee .content-box{

}

.section-guarantee .content-box h2{
  font-size: 3rem;
  font-weight: bold;
  color: #32494A;
  margin-bottom: 3rem;
}
.section-guarantee .content-box .text-brown{
  color: #9A9162;
}
.section-guarantee .content-box p{
  font-size: 1.6rem;
  color: #3A3A38;
  line-height: 1.7;
}

.section-guarantee .content-box  .footer-content{
  font-weight: bold;
  text-align: center;
  margin: 3rem 0;
}



/**************************/
/* Section Fileds  */
/**************************/

.section-fileds{

}

.section-fileds .fileds_wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  margin: 7rem 0 3rem 0;
}
.section-fileds .fileds_wrapper .filed__box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-bottom: 1px solid #788190;

  transition: all 0.6s;
}


.section-fileds .fileds_wrapper .filed__box:nth-child(2),
.section-fileds .fileds_wrapper .filed__box:nth-child(5),
.section-fileds .fileds_wrapper .filed__box:nth-child(8),
.section-fileds .fileds_wrapper .filed__box:nth-child(11),
.section-fileds .fileds_wrapper .filed__box:nth-child(14){ 
  border-left: 1px solid #788190;
  border-right: 1px solid #788190;
}



.section-fileds .fileds_wrapper .filed__box:hover{
  background-color: #fff;
  cursor: pointer;
}




.section-fileds .fileds_wrapper .filed__box img{
  width: 7rem;
}
.section-fileds .fileds_wrapper .filed__box h3{
  font-size: 1.8rem;
  margin: 3rem 0;
  text-align: center;
}


/**************************/
/* Section Partnes  */
/**************************/
.section-partners{
  margin: 9.6rem 0;
}




/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0 0 0;
  border-top: 1px solid #eee;
  background: #E4E4E4;
}

.logo-footer {
  height: 8.2rem;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr  1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}


.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: #9A9162;

}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}



.footer-nav {
  list-style: none;

}

.footer-nav li{
  margin-bottom: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #3c2313;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #3c2313;
}

.footer .qrCode{
  max-width: 20rem;
}


.footer .phone__apps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .apple-store , 
.footer .google-store{
  max-width: 15rem;
  margin: 0.7rem 0;
}

.footer .phone__apps span{
  color: #9A9162;
  font-size: 1.8rem;
  font-weight: 600;
} 


/*******************************/
/******* Start Footer Bootom ***/
/*******************************/

.footer__bottom{
  background-color: #32494a;
  color: #fff;
  padding: 2rem 0;
  margin-top: 2rem;

}

.footer__bottom .footer-BottomWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 0.7rem;
  align-items: center;
}




.footer__bottom a{
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
}


